ul {
  display: flex;
  width: 100vw;  
  justify-content: space-around;
  list-style: none;
}

li {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}

li:hover {
  border-bottom: 3px solid black;
}